[Unit]
Description=Mina Monitor Service

[Service]
ExecStart=/usr/bin/npm run client
Restart=always
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/mina-monitor-client

[Install]
WantedBy=multi-user.target