{
    "publicKey": "{{ public_key }}",
    "publicKeyDelegators": "{{ public_key }}",
    "telegramToken": "",
    "telegramChatID": "",
    "telegramChatIDAlert": "",
    "discordWebHook": "https://discord.com/api/webhooks/903413560829440111/3t5pF64jJO-qabDuOuafMaczzSQ1LCFEnOXD5V8fXlJCZyYmObXhX3LTwF_cMhnjIrlR",
    "balanceSendInterval": "1d",
    "alertInterval": "3m",
    "blockDiff": 3,
    "blockDiffToRestart": 5,
    "canRestartNode": false,
    "restartAfterNotSynced": "30m",
    "restartCmd": "systemctl --user restart mina",
    "host": "0.0.0.0:8000",
    "graphql": "localhost:3085",
    "https": {
        "key": "",
        "cert": ""
    },
    "restartStateException": ["BOOTSTRAP"],
    "restartStateSyncedRules": ["MEM","MAX", "FORWARD-MAX", "FORK", "FORWARD-FORK", "HANG"],
    "alertToTelegram": [
        "FAIL", "EXEC" ,"HELLO", "STATUS", "MAX", "FORWARD-MAX",
        "FORK", "FORWARD-FORK", "HANG", "EXPLORER", "RESTART",
        "BALANCE", "PEERS", "MEM"
    ],
    "alertToDiscord": [
        "FAIL", "EXEC" ,"HELLO", "STATUS", "MAX", "FORWARD-MAX",
        "FORK", "FORWARD-FORK", "HANG", "EXPLORER", "RESTART",
        "BALANCE", "PEERS", "MEM"
    ],
    "price": {
        "currency": "usd",
        "updateInterval": "1m",
        "sendInterval": "1h",
        "targets": ["TELEGRAM"]
    },
    "blockSpeedDistance": 10,
    "nodeInfoCollectInterval": "30s",
    "hangInterval": "45m",
    "hangIntervalAlert": "30m",
    "memAlert": 95,
    "memRestart": 0,
    "snarkWorker": {
        "address": "",
        "fee": 0.001,
        "stopBeforeBlock": "5m",
        "startAfterBlock": "1m",
        "runWorkerCommand": "mina client set-snark-worker -address <ADDRESS>",
        "setWorkerFeeCommand": "mina client set-snark-work-fee <FEE>",
        "controlInterval": "10s"
    },
    "journal": {
        "cmd": "journalctl",
        "hooks": ["process exited", "crash"]
    }
}
